 RewriteEngine on

# # 如果是一个目录或者文件，就访问目录或文件
 RewriteCond %{REQUEST_FILENAME} !-d
# # 如果文件存在，就直接访问文件，不进行下面的RewriteRule
 RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule .* index.php
RewriteRule (\w+)\/(\w+)\/(\w+)\/(\w+_\w+)\/(\d+) index.php?$4=$5 [L,E=PATH_INFO:$2/$3,E=REQUEST_URI:$2/$3?$4=$5]
